.env
.venv
/tmp/*
/tmp*
/temp_segments/*
/temp_segments*
/detected objects/*
app.log
/temp_segments/
/temp_video
/tmp_videos

# Ignore video folders
/videos/
/video_segments/
/processed_videos/

# Ignore large files
venv/lib/python3.11/site-packages/pyarrow/libarrow.1900.dylib
venv/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib
